<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/assets/css/main.css">
</head>
<body>
    <div class="title">
        <p class="ascii">
            ░▒▓███████▓▒░░▒▓████████▓▒░▒▓████████▓▒░▒▓████████▓▒░▒▓███████▓▒░░▒▓████████▓▒░</br>
            ░▒▓█▓▒░░▒▓█▓▒░▒▓█▓▒░&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;░▒▓█▓▒░&nbsp;&nbsp;&nbsp;░▒▓█▓▒░&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;░▒▓█▓▒░▒▓█▓▒░░▒▓█▓▒░</br>
            ░▒▓█▓▒░░▒▓█▓▒░▒▓█▓▒░&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;░▒▓█▓▒░&nbsp;&nbsp;&nbsp;░▒▓█▓▒░&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;░▒▓█▓▒░▒▓█▓▒░░▒▓█▓▒░</br>
            ░▒▓█▓▒░░▒▓█▓▒░▒▓██████▓▒░&nbsp;&nbsp;&nbsp;&nbsp;░▒▓█▓▒░&nbsp;&nbsp; ░▒▓███████▓▒░&nbsp;░▒▓██████▓▒░░▒▓█▓▒░░▒▓█▓▒░</br>
            ░▒▓█▓▒░░▒▓█▓▒░▒▓█▓▒░&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;░▒▓█▓▒░&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;░▒▓█▓▒░▒▓█▓▒░&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;░▒▓█▓▒░░▒▓█▓▒░</br>
            ░▒▓█▓▒░░▒▓█▓▒░▒▓█▓▒░&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;░▒▓█▓▒░&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;░▒▓█▓▒░▒▓█▓▒░&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;░▒▓█▓▒░░▒▓█▓▒░</br>
            ░▒▓███████▓▒░░▒▓████████▓▒░&nbsp;&nbsp;░▒▓█▓▒░&nbsp;&nbsp;&nbsp;░▒▓███████▓▒░░▒▓████████▓▒░▒▓████████▓▒░
        </p>
        <p>i5 Space Carl Sagan Squadron @ Cornell University</p>
    </div>
</body>
</html>